body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f4f2f0; */
  /* background-color: #fff5e6; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered-in-window {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.centered-in-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.txt-centered-in-div {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ql-editor{
  min-height: 100px;
}

div.poetry > p {
   margin: 0px;
   padding: 0px;
}

div.fromQuill > p {
   margin: 0px;
   padding: 0px;
}

.direction {
  color: "#616161"; 
  font-size: "85%"; 
  padding-left: "8px"; 
}

.dot-flashing {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #3e2723;
  color: #3e2723;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -30px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #3e2723;
  color: #3e2723;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 30px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #3e2723;
  color: #3e2723;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #3e2723;
  }
  50%,
  100% {
    background-color: #d7ccc8;
  }
}