body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f4f2f0; */
  /* background-color: #fff5e6; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered-in-window {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.centered-in-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.txt-centered-in-div {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ql-editor{
  min-height: 100px;
}

.poetry {
   margin: 0px;
   padding: 0px;
}